.project
/settings/
client/.classpath
client/.gitignore
client/.project
client/.settings/
docs/.classpath
docs/.gitignore
docs/.project
docs/.settings/
impl/.classpath
impl/.gitignore
impl/.project
impl/.settings/
intf/.classpath
intf/.gitignore
intf/.project
intf/.settings/
resource/.project
resource/.settings/
war/.classpath
logs/
resource/target/
war/src/main/webapp/META-INF/
war/.project
war/.settings/
war/.gitignore
target/
impl/APPInvision.dat
impl/bin/
resources/src/main/properties/tmp/
.idea/
*.iml
checkpoint/
out/
